.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-left-color: var(--primary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.sm {
    width: 24px;
    height: 24px;
    border-width: 2px;
}

.md {
    width: 40px;
    height: 40px;
    border-width: 3px;
}

.lg {
    width: 60px;
    height: 60px;
    border-width: 4px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}